@import "../styles/index";

.header {
  align-items: center;
  background: $purple;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $base;
  &__finder {
    display: flex;
    flex-direction: column;
    &-title {
      text-align: center;
    }
    &-input {
      padding: calc($base / 2);
      font-size: 1rem;
    }
    &-btn {
      background-color: $green;
      cursor: pointer;
      display: inline-block;
      font-size: 18px;
      font-weight: 700;
      height: 48px;
      letter-spacing: -0.5px;
      padding: 0 26px;
    }
  }
}

.github-explorer {
  &__results {
    &-table {
      border-collapse: collapse;
      width: 100%;

      .description {
        white-space: wrap;
      }
    }

    thead tr {
      background-color: $purpleLight;
      color: $grey;
    }

    th,
    td {
      padding: 10px;
      a {
        color: $white;
      }
    }

    th {
      text-align: left;
    }

    .pagination {
      order: 1;
      display: flex;
      justify-content: space-around;

      &__current-page,
      &__total-pages {
        position: absolute;
      }

      &__total-pages {
        right: 0;
        padding-right: 1rem;
      }

      &__current-page {
        left: 0;
        padding-left: 1rem;
      }

      &__list {
        align-items: center;
        display: flex;
        justify-content: space-around;
        list-style: none;
        padding: 0;

        &-btn-prev,
        &-btn-next {
          cursor: pointer;
          padding: 0 1rem;
          position: relative;
          user-select: none;

          &:hover {
            text-shadow: 0 0 1px white;
          }
        }

        &-btn-prev {
          &::before {
            content: "◄";
            margin-right: 10px;
            transition: color 0.3s ease-in-out;
          }
          &:hover::before {
            color: silver;
          }
        }

        &-btn-next {
          &::after {
            content: "►";
            margin-left: 10px;
            transition: color 0.3s ease-in-out;
          }
          &:hover::after {
            color: silver;
          }
        }
      }
    }
  }
}
